body {
    background-color: #e3f2fd;
}

/* Logo rio */
img {
    width: 70%;
    height: 70%;
}

#map {
    margin-top: 2%;
    margin-right: 2%;
    height: 700px;
    width: 32%;
}

.centerText {
    text-align: center;
}

/* Botões de tráfego */

/* Design dos botões pego da internet, segue link abaixo */
/* https://stackoverflow.com/questions/20033343/google-maps-custom-button-with-standard-style */
.custom-map-control-button {
    margin-top: 3%;
    cursor: pointer;
    direction: ltr;
    overflow: hidden;
    text-align: center;
    position: relative;
    color: rgb(0, 0, 0);
    font-family: "Roboto", Arial, sans-serif;
    font-size: 15px;
    background-color: rgb(255, 255, 255);
    padding: 1px 6px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.14902);
    -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
    min-width: 28px;
    font-weight: 500;
}

.custom-map-control-button:hover {
    font-weight: bold;
}